server:
  port: ${PORT}

spring:
  application:
    name: storefront-gateway

  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: ${CORS_ALLOWED_ORIGINS}
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                allowedHeaders: "*"
                allowCredentials: true
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true

          routes:
            - id: catalog-service
              uri: lb://catalog-service
              predicates:
                - Path=/api/catalog/**
              filters:
                - AuthenticationFilter

            - id: identity-service
              uri: lb://identity-service
              predicates:
                - Path=/api/auth/**

            - id: payment-service
              uri: lb://payment-service
              predicates:
                - Path=/api/payment/**
              filters:
                - AuthenticationFilter

  cache:
    type: redis
    redis:
      time-to-live: 3600000
      cache-null-values: false
      use-key-prefix: true
      key-prefix: "bookstore:cache:"
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms

jwt:
  secret: ${JWT_SECRET}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}